<html>
<head>
<style type="text/css">
{{style}}
body {
     margin-top: 2cm;
}
.image3 {
    width: 120%;
}
.image4 {
    width: 180%;
    border: 1px solid black;
}
.image5 {
    width: 180%;
    border: 1px solid black;
}
td {
    width: 80px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}
table {
    border-spacing: 0;
}
.image5_td {
    padding-top: 5px;
}
</style>
</head>
<body>
<table>
<tbody>
<tr>
<td colspan=7 class="left"><strong><u><h3>Stronghold Iron&reg;</h3></u></strong></td>
</tr>
<tr>
<td colspan=7 class="left">* Iron fence prices do not include brackets and self-tapping screws required for mounting (see Iron Hardware section) </td>
</tr>
<tr>
<td colspan=7 class="left">* Iron walk gate prices do not include hinge and latch hardware (see Gate Hardware section)</td>
</tr>

<tr>
<td colspan="4" class="title page_level left"><u><b>Classic Style Iron Fence</b></u></td><td colspan="3"><center><img class="image3" src="{{image3}}"></center></td>
</tr>

<tr>
<td colspan="3" class="second_title">Traditional Grade Fence Panels</td><td class="td_space"> </td><td colspan="3" class="second_title">Signature Grade Fence Panels</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td class="td_space"> </td>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>3'h x 8'w</td>
<td>TP0308-2R</td>
<td>{{TP03082R}}</td>
<td class="td_space"> </td>
<td>3'h x 8'w</td>
<td>TP0308-2C</td>
<td>{{TP03082C}}</td>
</tr>
<tr>
<td class="gray">4'h x 8'w</td>
<td class="gray">TP0408-2R</td>
<td class="gray">{{TP04082R}}</td>
<td class="td_space"> </td>
<td class="gray">4'h x 8'w</td>
<td class="gray">TP0408-2C</td>
<td class="gray">{{TP04082C}}</td>
</tr>
<tr>
<td>5'h x 8'w</td>
<td>TP0508-2R</td>
<td>{{TP05082R}}</td>
<td class="td_space"> </td>
<td>5'h x 8'w</td>
<td>TP0508-2C</td>
<td>{{TP05082C}}</td>
</tr>
<tr>
<td class="gray">6'h x 8'w</td>
<td class="gray">TP0608-3R</td>
<td class="gray">{{TP06083R}}</td>
<td class="td_space"> </td>
<td class="gray">6'h x 8'w</td>
<td class="gray">TP0608-3C</td>
<td class="gray">{{TP06083C}}</td>
</tr>


<tr>
<td colspan=4> </td><td colspan=3 class="second_title">Signature</td>
</tr>
<tr>
<td colspan=4> </td><td>4' to 5' Arch</td>
<td>TPGW448</td>
<td>260,22</td>
</tr>
<tr>
<td colspan=4> </td>
<td class="gray">5' to 6' Arch</td>
<td class="gray">TPGW548</td>
<td class="gray">{{TPGW548}}</td>
</tr>
<tr>
<td colspan="3" class="second_title">Traditional Grade Single Gates</td>
<td class="td_space"> </td>
<td colspan="3" class="second_title">Signature Grade Single Gates</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td class="td_space"> </td>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td class="gray">3'h x 4'w</td>
<td class="gray">TP0304-RG</td>
<td class="gray">{{TP0304RG}}</td>
<td class="td_space"> </td>
<td class="gray">3'h x 4'w</td>
<td class="gray">TP0304-CG</td>
<td class="gray">{{TP0304CG}}</td>
</tr>
<tr>
<td>3'h x 5'w</td>
<td>TP0305-RG</td>
<td>{{TP0305RG}}</td>
<td class="td_space"> </td>
<td>3'h x 5'w</td>
<td>TP0305-CG</td>
<td>{{TP0305CG}}</td>
</tr>
<tr>
<td class="gray">4'h x 4'w</td>
<td class="gray">TP0404-RG</td>
<td class="gray">{{TP0404RG}}</td>
<td class="td_space"> </td>
<td class="gray">4'h x 4'w</td>
<td class="gray">TP0404-CG</td>
<td class="gray">{{TP0404CG}}</td>
</tr>
<tr>
<td>4'h x 5'w</td>
<td>TP0405-RG</td>
<td>{{TP0405RG}}</td>
<td class="td_space"> </td>
<td>4'h x 5'w</td>
<td>TP0405-CG</td>
<td>{{TP0405CG}}</td>
</tr>
<tr>
<td class="gray">4'h x 6'w</td>
<td class="gray">TP0406-RG</td>
<td class="gray">{{TP0406RG}}</td>
<td class="td_space"> </td>
<td class="gray">4'h x 6'w</td>
<td class="gray">TP0406-CG</td>
<td class="gray">{{TP0406CG}}</td>
</tr>
<tr>
<td>5'h x 4'w</td>
<td>TP0504-RG</td>
<td>{{TP0504RG}}</td>
<td class="td_space"> </td>
<td>5'h x 4'w</td>
<td>TP0504-CG</td>
<td>{{TP0504CG}}</td>
</tr>
<tr>
<td class="gray">5'h x 5'w</td>
<td class="gray">TP0505-RG</td>
<td class="gray">{{TP0505RG}}</td>
<td class="td_space"> </td>
<td class="gray">5'h x 5'w</td>
<td class="gray">TP0505-CG</td>
<td class="gray">{{TP0505CG}}</td>
</tr>
<tr>
<td>5'h x 6'w</td>
<td>TP0506-RG</td>
<td>{{TP0506RG}}</td>
<td class="td_space"> </td>
<td>5'h x 6'w</td>
<td>TP0506-CG</td>
<td>{{TP0506CG}}</td>
</tr>
<tr>
<td class="gray">6'h x 4'w</td>
<td class="gray">TP0604-RG</td>
<td class="gray">{{TP0604RG}}</td>
<td class="td_space"> </td>
<td class="gray">6'h x 4'w</td>
<td class="gray">TP0604-CG</td>
<td class="gray">{{TP0604CG}}</td>
</tr>
<tr>
<td>6'h x 5'w</td>
<td>TP0605-RG</td>
<td>{{TP0605RG}}</td>
<td class="td_space"> </td>
<td>6'h x 5'w</td>
<td>TP0605-CG</td>
<td>{{TP0605CG}}</td>
</tr>
<tr>
<td class="gray">6'h x 6'w</td>
<td class="gray">TP0606-RG</td>
<td class="gray">{{TP0606RG}}</td>
<td class="td_space"> </td>
<td class="gray">6'h x 6'w</td>
<td class="gray">TP0606-CG</td>
<td class="gray">{{TP0606CG}}</td>
</tr>
<tr style="padding-top: 5px">
<td colspan="3" class="second_title">Traditional Grade Arched Gates</td><td class="td_space"> </td><td colspan="3" class="second_title">Signature Grade Arched Gates</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td class="td_space"> </td>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>3'h x 4'w</td>
<td>TP0304-RGA</td>
<td>{{TP0304RGA}}</td>
<td class="td_space"> </td>
<td>3'h x 4'w</td>
<td>TP0304-CGA</td>
<td>{{TP0304CGA}}</td>
</tr>
<tr>
<td class="gray">4'h x 4'w</td>
<td class="gray">TP0404-RGA</td>
<td class="gray">{{TP0404RGA}}</td>
<td class="td_space"> </td>
<td class="gray">4'h x 4'w</td>
<td class="gray">TP0404-CGA</td>
<td class="gray">{{TP0404CGA}}</td>
</tr>
<tr>
<td>5'h x 4'w</td>
<td>TP0504-RGA</td>
<td>{{TP0504RGA}}</td>
<td class="td_space"> </td>
<td>5'h x 4'w</td>
<td>TP0504-CGA</td>
<td>{{TP0504CGA}}</td>
</tr>
<tr>
<td class="gray">6'h x 4'w</td>
<td class="gray">TP0604-RGA</td>
<td class="gray">{{TP0604RGA}}</td>
<td class="td_space"> </td>
<td class="gray">6'h x 4'w</td>
<td class="gray">TP0604-CGA</td>
<td class="gray">{{TP0604CGA}}</td>
</tr>
<tr>
<td colspan=3>
<img class="image4 shadow" src="{{image4}}">
</td>
<td class="td_space"> </td>
<td colspan=3 class="image5_td">
<img class="image5 shadow" src="{{image5}}">
</td>
</tr>
</tbody>
</table>
<footer>
    Page 5
</footer>
</body>
</html>
