<html>
<head>
<style type="text/css">
{{style}}
body {
     margin-top: 2cm;
}
table {
    border-spacing: 0;
}
td {
    width: 90px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}
.title {
    font-size:24px;
}
.image6{
    width: 120%;
    padding-top: 20px;
}
.image7{
    width: 300%;
    border: 1px solid black;
}
.tr_image7 {
    padding-top: 20px;
}
</style>
</head>
<body>
<table>
<tbody>
<tr>
<td colspan=7 class="page_level left"><b>Classic Style Iron Fence (cont'd)</b></td>
</tr>
<tr>
<td class="td_space"> </td>
</tr>
<tr>
<td colspan="3" class="second_title">Traditional Grade Double Gates</td><td class="td_space"> </td><td colspan="3" class="second_title">Signature Grade Double Gates</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td class="td_space"> </td>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>3'h x 8'w</td>
<td>TP0304-RGD</td>
<td>{{TP0304RGD}}</td>
<td class="td_space"> </td>
<td>3'h x 8'w</td>
<td>TP0304-CGD</td>
<td>{{TP0304CGD}}</td>
</tr>
<tr>
<td class="gray">3'h x 10'w</td>
<td class="gray">TP0305-RGD</td>
<td class="gray">{{TP0305RGD}}</td>
<td class="td_space"> </td>
<td class="gray">3'h x 10'w</td>
<td class="gray">TP0305-CGD</td>
<td class="gray">{{TP0305CGD}}</td>
</tr>
<tr>
<td>4'h x 8'w</td>
<td>TP0404-RGD</td>
<td>{{TP0404RGD}}</td><td class="td_space"> </td><td>4'h x 8'w</td>
<td>TP0404-CGD</td>
<td>{{TP0404CGD}}</td>
</tr>
<tr>
<td class="gray">4'h x 10'w</td>
<td class="gray">TP0405-RGD</td>
<td class="gray">{{TP0405RGD}}</td>
<td class="td_space"> </td>
<td class="gray">4'h x 10'w</td>
<td class="gray">TP0405-CGD</td>
<td class="gray">{{TP0405CGD}}</td>
</tr>
<tr>
<td>4'h x 12'w</td>
<td>TP0406-RGD</td>
<td>{{TP0406RGD}}</td><td class="td_space"> </td><td>4'h x 12'w</td>
<td>TP0406-CGD</td>
<td>{{TP0406CGD}}</td>
</tr>
<tr>
<td class="gray">5'h x 8'w</td>
<td class="gray">TP0504-RGD</td>
<td class="gray">{{TP0504RGD}}</td>
<td class="td_space"> </td>
<td class="gray">5'h x 8'w</td>
<td class="gray">TP0504-CGD</td>
<td class="gray">{{TP0504CGD}}</td>
</tr>
<tr>
<td>5'h x 10'w</td>
<td>TP0505-RGD</td>
<td>{{TP0505RGD}}</td><td class="td_space"> </td><td>5'h x 10'w</td>
<td>TP0505-CGD</td>
<td>{{TP0505CGD}}</td>
</tr>
<tr>
<td class="gray">5'h x 12'w</td>
<td class="gray">TP0506-RGD</td>
<td class="gray">{{TP0506RGD}}</td><td class="td_space"> </td><td class="gray">5'h x 12'w</td>
<td class="gray">TP0506-CGD</td>
<td class="gray">{{TP0506CGD}}</td>
</tr>
<tr>
<td>6'h x 8'w</td>
<td>TP0604-RGD</td>
<td>{{TP0604RGD}}</td><td class="td_space"> </td><td>6'h x 8'w</td>
<td>TP0604-CGD</td>
<td>{{TP0604CGD}}</td>
</tr>
<tr>
<td class="gray">6'h x 10'w</td>
<td class="gray">TP0605-RGD</td>
<td class="gray">{{TP0605RGD}}</td><td class="td_space"> </td><td class="gray">6'h x 10'w</td>
<td class="gray">TP0605-CGD</td>
<td class="gray">{{TP0605CGD}}</td>
</tr>
<tr>
<td>6'h x 12'w</td>
<td>TP0606-RGD</td>
<td>{{TP0606RGD}}</td><td class="td_space"> </td><td>6'h x 12'w</td>
<td>TP0606-CGD</td>
<td>{{TP0606CGD}}</td>
</tr>



<tr>
<td colspan="4" class="title page_level left"><u><b>Pool Style Iron Fence</u></b></td><td colspan="3"><center><img class="image6" src="{{image6}}"></center></td></tr>

<tr>
<td colspan="3" class="second_title">Traditional Grade Fence Panels</td><td class="td_space"> </td><td colspan="3" class="second_title">Signature Grade Fence Panels</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td><td class="td_space"> </td><td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>50"h x 8'w</td>
<td>TP5008-2R</td>
<td>{{TP50082R}}</td><td class="td_space"> </td><td>50"h x 8'w</td>
<td>TP5008-2C</td>
<td>{{TP50082C}}</td>
</tr>


<tr>
<td colspan="3" class="second_title">Traditional Grade Single Gates</td><td class="td_space"> </td><td colspan="3" class="second_title">Signature Grade Single Gates</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td><td class="td_space"> </td><td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>50"h x 4'w</td>
<td>TP5004-RG</td>
<td>{{TP5004RG}}</td><td class="td_space"> </td><td>50"h x 4'w</td>
<td>TP5004-CG</td>
<td>{{TP5004CG}}</td>
</tr>
<tr>
<td class="td_space"> </td>
</tr>
<tr>
<td class="td_space"> </td>
</tr>
<tr>
<td colspan="3" class="second_title">Traditional Grade Double Gates</td><td class="td_space"> </td><td colspan="3" class="second_title">Signature Grade Double Gates</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td><td class="td_space"> </td><td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>50"h x 8'w</td>
<td>TP5004-RGD</td>
<td>{{TP5004RGD}}</td><td class="td_space"> </td><td>50"h x 8'w</td>
<td>TP5004-CGD</td>
<td>{{TP5004CGD}}</td>
</tr>
<tr>
<td colspan=7 class="tr_image7"><center><img class="image7" src="{{image7}}"></center></td>
</tr>
</tbody>
</table>
<footer>
    Page 6
</footer>
</body>
</html>