<html>
<head>
<style type="text/css">
{{style}}
td {
    width: 100px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}
table {
    border-spacing: 0;
}
.image15 {
    width: 200%;
}
.image16 {
    width: 200%;
}
.title {
    font-size:24px;
}
</style>
</head>
<body>
<table>
<tbody>
<tr>
<td colspan=7 class="title page_level left"><b><u>Smooth Top Style Iron Driveway Gates</u></b></td>
</tr>
<tr>
<td colspan=7 class="left">* Driveway gate prices do not include hinges and latches required for mounting (see Gate Hardware section for options)</td>
</tr>
<tr>
<td colspan=7 class="left">* Optional automated gate opener systems available (see Gaet Automation section for options)</td>
</tr>
<tr>
<td colspan=4 class="second_title left">Double Piece Gates</td>
<td colspan=3 rowspan=8><center><img class="image15" src="{{image15}}"></center></td>
</tr>
<tr>
<td class="header">Height</td>
<td class="header">Width</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td>5' to 6' Arch</td>
<td>12' wide</td>
<td>TPDD0566SM</td>
<td>{{TPDD0566SM}}</td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td class="gray">5' to 6' Arch</td>
<td class="gray">14' wide</td>
<td class="gray">TPDD0567SM</td>
<td class="gray">{{TPDD0567SM}}</td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td>5' to 6' Arch</td>
<td>16' wide</td>
<td>TPDD0568SM</td>
<td>{{TPDD0568SM}}</td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td colspan=7> </td>
</tr>
<tr>
<td>6' to 7' Arch</td>
<td>12' wide</td>
<td>TPDD0676SM</td>
<td>{{TPDD0676SM}}</td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td class="gray">6' to 7' Arch</td>
<td class="gray">14' wide</td>
<td class="gray">TPDD0677SM</td>
<td class="gray">{{TPDD0677SM}}</td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td>6' to 7' Arch</td>
<td>16' wide</td>
<td>TPDD0678SM</td>
<td>{{TPDD0678SM}}</td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td colspan=7> </td>
</tr>
<tr>
<td colspan=7 class="title page_level left"><b><u>Rings Puppy Picket Style Iron Driveway Gates</u></b></td>
</tr>
<tr>
<td colspan=7 class="left">* Driveway gate prices do not include hinges and latches required for mounting (see Gate Hardware section for options)</td>
</tr>
<tr>
<td colspan=7 class="left">* Optional automated gate opener systems available (see Gate Automation section for options)</td>
</tr>
<tr>
<td colspan=7></td>
</tr>
<tr>
<td colspan=4 class="second_title left">Double Piece Gates</td>
<td colspan=3 rowspan=6><center><img class="image16" src="{{image16}}"></center></td>
</tr>
<tr>
<td colspan=7> </td>
</tr>
<tr>
<td class="header">Height</td>
<td class="header">Width</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td>6' to 7' Arch</td>
<td>12' wide</td>
<td>TPDD676DPR</td>
<td>{{TPDD676DPR}}</td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td class="gray">6' to 7' Arch</td>
<td class="gray">14' wide</td>
<td class="gray">TPDD677DPR</td>
<td class="gray">{{TPDD677DPR}}</td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td>6' to 7' Arch</td>
<td>16' wide</td>
<td>TPDD678DPR</td>
<td>{{TPDD678DPR}}</td>
<td> </td>
<td> </td>
<td> </td>
</tr>
</tbody>
</table>
<footer>
    Page 9
</footer>
</body>
</html>