<html>
<head>
<style type="text/css">
{{style}}
td {
    width: 100px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}
table {
    border-spacing: 0;
}
.title {
    font-size:24px;
}
</style>
</head>
<body>
<table>
<tbody>
<tr><!--6 colunas-->
<td colspan="6" class="title page_level left"><b><u>Stronghold Iron Fence and Gate Posts</u></b></td>
</tr>
<tr>
<td colspan="6" class="left">* Post prices do not include post cap (see Iron Hardware section for options)</td>
</tr>
<tr>
<td colspan="6"> </td>
</tr>
<tr>
<td colspan="6" class="second_title left">Standard Posts</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">Length</td>
<td class="header">Thickness</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td> </td>
</tr>
<tr>
<td>2" x 2"</td>
<td>5'</td>
<td>14ga</td>
<td>TP2205</td>
<td>{{TP2205}}</td>
<td> </td>
</tr>
<tr>
<td class="gray">2" x 2"</td>
<td class="gray">6'</td>
<td class="gray">14ga</td>
<td class="gray">TP2206</td>
<td class="gray">{{TP2206}}</td>
<td> </td>
</tr>
<tr>
<td>2" x 2"</td>
<td>7'</td>
<td>14ga</td>
<td>TP2207</td>
<td>{{TP2207}}</td>
<td> </td>
</tr>
<tr>
<td class="gray">2" x 2"</td>
<td class="gray">8'</td>
<td class="gray">14ga</td>
<td class="gray">TP2208</td>
<td class="gray">{{TP2208}}</td>
<td> </td>
</tr>
<tr>
<td>2" x 2"</td>
<td>9'</td>
<td>14ga</td>
<td>TP2209</td>
<td>{{TP2209}}</td>
<td> </td>
</tr>
<tr>
<td colspan=6 class="td_space">&nbsp;</td>
</tr>
<tr>
<td>2.5" x 2.5"</td>
<td>6'</td>
<td>14ga</td>
<td>TP252506</td>
<td>{{TP252506}}</td>
<td> </td>
</tr>
<tr>
<td class="gray">2.5" x 2.5"</td>
<td class="gray">7'</td>
<td class="gray">14ga</td>
<td class="gray">TP252507</td>
<td class="gray">{{TP252507}}</td>
<td> </td>
</tr>
<tr>
<td>2.5" x 2.5"</td>
<td>8'</td>
<td>14ga</td>
<td>TP252508</td>
<td>{{TP252508}}</td>
<td> </td>
</tr>
<tr>
<td class="gray">2.5" x 2.5"</td>
<td class="gray">9'</td>
<td class="gray">14ga</td>
<td class="gray">TP252509</td>
<td class="gray">{{TP252509}}</td>
<td> </td>
</tr>
<tr>
<td colspan=6 class="td_space">&nbsp;</td>
</tr>
<tr>
<td>3" x 3"</td>
<td>5'</td>
<td>14ga</td>
<td>TP3305</td>
<td>{{TP3305}}</td>
<td> </td>
</tr>
<tr>
<td class="gray">3" x 3"</td>
<td class="gray">6'</td>
<td class="gray">14ga</td>
<td class="gray">TP3306</td>
<td class="gray">{{TP3306}}</td>
<td> </td>
</tr>
<tr>
<td>3" x 3"</td>
<td>7'</td>
<td>14ga</td>
<td>TP3307</td>
<td>{{TP3307}}</td>
<td> </td>
</tr>
<tr>
<td class="gray">3" x 3"</td>
<td class="gray">8'</td>
<td class="gray">14ga</td>
<td class="gray">TP3308</td>
<td class="gray">{{TP3308}}</td>
<td> </td>
</tr>
<tr>
<td>3" x 3"</td>
<td>9'</td>
<td>14ga</td>
<td>TP3309</td>
<td>{{TP3309}}</td>
<td> </td>
</tr>
<tr>
<td colspan=6 class="td_space">&nbsp;</td>
</tr>
<tr>
<td>4" x 4"</td>
<td>7'</td>
<td>14ga</td>
<td>TP44714</td>
<td>{{TP44714}}</td>
<td> </td>
</tr>
<tr>
<td class="gray">4" x 4"</td>
<td class="gray">8'</td>
<td class="gray">14ga</td>
<td class="gray">TP44814</td>
<td class="gray">{{TP44814}}</td>
<td> </td>
</tr>
<tr>
<td>4" x 4"</td>
<td>9'</td>
<td>14ga</td>
<td>TP44914</td>
<td>{{TP44914}}</td>
<td> </td>
</tr>
<tr>
<td colspan=6 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan="6" class="second_title left">Flange Posts</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">Length</td>
<td class="header">Thickness</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td> </td>
</tr>
<tr>
<td>2.5" x 2.5"</td>
<td>3'</td>
<td>14ga</td>
<td>TPPFL253</td>
<td>{{TPPFL253}}</td>
<td> </td>
</tr>
<tr>
<td class="gray">2.5" x 2.5"</td>
<td class="gray">4'</td>
<td class="gray">14ga</td>
<td class="gray">TPPFL254</td>
<td class="gray">{{TPPFL254}}</td>
<td> </td>
</tr>
<tr>
<td>2.5" x 2.5"</td>
<td>5'</td>
<td>14ga</td>
<td>TPPFL255</td>
<td>{{TPPFL255}}</td>
<td> </td>
</tr>
<tr>
<td class="gray">2.5" x 2.5"</td>
<td class="gray">6'</td>
<td class="gray">14ga</td>
<td class="gray">TPPFL256</td>
<td class="gray">{{TPPFL256}}</td>
<td> </td>
</tr>
<tr>
<td colspan=6 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan="6" class="second_title left">Driveway Gate Posts</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">Length</td>
<td class="header">Thickness</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td> </td>
</tr>
<tr>
<td>4" x 4"</td>
<td>8'</td>
<td>7ga</td>
<td>TP4408</td>
<td>{{TP4408}}</td>
<td> </td>
</tr>
<tr>
<td class="gray">4" x 4"</td>
<td class="gray">9'</td>
<td class="gray">7ga</td>
<td class="gray">TP4409</td>
<td class="gray">{{TP4409}}</td>
<td> </td>
</tr>
<tr>
<td>6" x 6"</td>
<td>8'</td>
<td>7ga</td>
<td>TP6608</td>
<td>{{TP6608}}</td>
<td> </td>
</tr>
<tr>
<td class="gray">6" x 6"</td>
<td class="gray">9'</td>
<td class="gray">7ga</td>
<td class="gray">TP6609</td>
<td class="gray">{{TP6609}}</td>
<td> </td>
</tr>
<tr>
<td>6" x 6"</td>
<td>10'</td>
<td>7ga</td>
<td>TP66010</td>
<td>{{TP66010}}</td><!--TP66010 not defined-->
<td> </td>
</tr>
</tbody>
</table>
<footer>
    Page 10
</footer>
</body>
</html>