<html>
<head>
<style type="text/css">
{{style}}
td {
    width: 100px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}
table {
    border-spacing: 0;
}
.image20 {
    width: 150%;
}
.image21 {
    width: 50%;
}
.image22 {
    width: 50%;
}
.title {
    font-size:24px;
}
.tr_images {
    padding-top: 20px;
}
</style>
</head>
<body>
<table>
<tbody>
<tr>
<td colspan=7 class="left"><strong><u><h3>Infinity Aluminum&reg;</h3></u></td>
</tr>
<tr>
<td colspan=7 class="left">* Aluminum fence requires use of self-tapping screws for installation (see Aluminum Hardware section)</td>
</tr>
<tr>
<td colspan=7 class="left">* Aluminum walk gate prices do not include hinge and latch hardware (see Gate Hardware section for options)</td>
</tr>
<tr>
<td class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan="5" rowspan="5" class="title page_level left"><b><u>Classic Style Aluminum Fence</b></u></td>
</tr>
<tr>
<td colspan=2 rowspan=5><img class="image20" src="{{image20}}"></td>
</tr>
<tr>
<td class="td_space">&nbsp;</td>
</tr>
<tr>
<td class="td_space">&nbsp;</td>
</tr>
<tr>
<td class="td_space">&nbsp;</td>
</tr>
<tr>
<td class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=3 class="second_title">Traditional Grade Fence Panels</td>
<td> </td>
<td colspan=3 class="second_title">Signature Grade Fence Panels</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td> </td>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>3'h x 6'w</td>
<td>TPA0306R</td>
<td>{{TPA0306R}}</td>
<td> </td>
<td>3'h x 6'w</td>
<td>TPA0308C-6</td>
<td>{{TPA0308C6}}</td>
</tr>
<tr>
<td class="gray">4'h x 6'w</td>
<td class="gray">TPA0406R</td>
<td class="gray">$132,92</td>
<td> </td>
<td class="gray">3'h x 8'w</td>
<td class="gray">TPA0308C</td>
<td class="gray">$230,80</td>
</tr>
<tr>
<td>5'h x 6'w</td>
<td>TPA0506R</td>
<td>{{TPA0506R}}</td>
<td> </td>
<td>4'h x 6'w</td>
<td>TPA0408C-6</td>
<td>{{TPA0408C6}}</td>
</tr>
<tr>
<td class="gray">6'h x 6'w</td>
<td class="gray">TPA0606R</td>
<td class="gray">{{TPA0606R}}</td>
<td> </td>
<td class="gray">4'h x 8'w</td>
<td class="gray">TPA0408C</td>
<td class="gray">{{TPA0408C}}</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=4 class="td_space">&nbsp;</td>
<td colspan=3 class="second_title">Signature</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td>5'h x 6'w</td>
<td>TPA0508C-6</td>
<td>{{TPA0508C6}}</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td class="gray">6'h x 6'w</td>
<td class="gray">TPA0608C-6</td>
<td class="gray">{{TPA0608C6}}</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=3 class="second_title">Traditional Grade Single Gates</td>
<td> </td>
<td colspan=3 class="second_title">Signature Grade Single Gates</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td> </td>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td class="gray">3'h x 4'w</td>
<td class="gray">TPAG0304R</td>
<td class="gray">{{TPAG0304R}}</td>
<td> </td>
<td class="gray">3'h x 4'w</td>
<td class="gray">TPAG0304C</td>
<td class="gray">{{TPAG0304C}}</td>
</tr>
<tr>
<td>3'h x 5'w</td>
<td>TPAG0305R</td>
<td>{{TPAG0305R}}</td>
<td> </td>
<td>3'h x 5'w</td>
<td>TPAG0305C</td>
<td>{{TPAG0305C}}</td>
</tr>
<tr>
<td class="gray">4'h x 4'w</td>
<td class="gray">TPAG0404R</td>
<td class="gray">{{TPAG0404R}}</td>
<td> </td>
<td class="gray">4'h x 4'w</td>
<td class="gray">TPAG0404C</td>
<td class="gray">{{TPAG0404C}}</td>
</tr>
<tr>
<td>4'h x 5'w</td>
<td>TPAG0405R</td>
<td>{{TPAG0405R}}</td>
<td> </td>
<td>4'h x 5'w</td>
<td>TPAG0405C</td>
<td>{{TPAG0405C}}</td>
</tr>
<tr>
<td class="gray">4'h x 6'w</td>
<td class="gray">TPAG0406R</td>
<td class="gray">{{TPAG0406R}}</td>
<td> </td>
<td class="gray">4'h x 6'w</td>
<td class="gray">TPAG0406C</td>
<td class="gray">{{TPAG0406C}}</td>
</tr>
<tr>
<td>5'h x 4'w</td>
<td>TPAG0504R</td>
<td>{{TPAG0504R}}</td>
<td> </td>
<td>5'h x 4'w</td>
<td>TPAG0504C</td>
<td>{{TPAG0504C}}</td>
</tr>
<tr>
<td class="gray">5'h x 5'w</td>
<td class="gray">TPAG0505R</td>
<td class="gray">{{TPAG0505R}}</td>
<td> </td>
<td class="gray">5'h x 5'w</td>
<td class="gray">TPAG0505C</td>
<td class="gray">{{TPAG0505C}}</td>
</tr>
<tr>
<td>5'h x 6'w</td>
<td>TPAG0506R</td>
<td>{{TPAG0506R}}</td>
<td> </td>
<td>5'h x 6'w</td>
<td>TPAG0506C</td>
<td>{{TPAG0506C}}</td>
</tr>
<tr>
<td class="gray">6'h x 4'w</td>
<td class="gray">TPAG0604R</td>
<td class="gray">{{TPAG0604R}}</td>
<td> </td>
<td class="gray">6'h x 4'w</td>
<td class="gray">TPAG0604C</td>
<td class="gray">{{TPAG0604C}}</td>
</tr>
<tr>
<td>6'h x 5'w</td>
<td>TPAG0605R</td>
<td>{{TPAG0605R}}</td>
<td> </td>
<td>6'h x 5'w</td>
<td>TPAG0605C</td>
<td>{{TPAG0605C}}</td>
</tr>
<tr>
<td class="gray">6'h x 6'w</td>
<td class="gray">TPAG0606R</td>
<td class="gray">{{TPAG0606R}}</td>
<td> </td>
<td class="gray">6'h x 6'w</td>
<td class="gray">TPAG0606C</td>
<td class="gray">{{TPAG0606C}}</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=3 class="second_title">Traditional Grade Arched Gates</td>
<td> </td>
<td colspan=3 class="second_title">Signature Grade Arched Gates</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td> </td>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>3'h x 4'w</td>
<td>TPAG0304R-A</td>
<td>{{TPAG0304RA}}</td>
<td> </td>
<td>3'h x 4'w</td>
<td>TPAG0304C-A</td>
<td>{{TPAG0304CA}}</td>
</tr>
<tr>
<td class="gray">4'h x 4'w</td>
<td class="gray">TPAG0404R-A</td>
<td class="gray">{{TPAG0404RA}}</td>
<td> </td>
<td class="gray">4'h x 4'w</td>
<td class="gray">TPAG0404C-A</td>
<td class="gray">{{TPAG0404CA}}</td>
</tr>
<tr>
<td>5'h x 4'w</td>
<td>TPAG0504R-A</td>
<td>{{TPAG0504RA}}</td>
<td> </td>
<td>5'h x 4'w</td>
<td>TPAG0504C-A</td>
<td>{{TPAG0504CA}}</td>
</tr>
<tr>
<td class="gray">6'h x 4'w</td>
<td class="gray">TPAG0604R-A</td>
<td class="gray">{{TPAG0604RA}}</td>
<td> </td>
<td class="gray">6'h x 4'w</td>
<td class="gray">TPAG0604C-A</td>
<td class="gray">{{TPAG0604CA}}</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=3><img class="image21 border" src="{{image21}}"></center></td>
<td class="td_space">&nbsp;</td>
<td colspan=3><img class="image22 border" src="{{image22}}"></center></td>
</tr>
</tbody>
</table>
<footer>
    Page 12
</footer>
</body>
</html>