<html>
<head>
<style type="text/css">
{{style}}
.second_title {
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
    padding-top: 5px;
}
td {
    width: 100px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}
table {
    border-spacing: 0;
}
.image23 {
    width: 130%;
}

</style>
</head>
<body>
<table>
<tbody>
<tr>
<td colspan=7 class="page_level left"><b>Classic Style Aluminum Fence (cont'd)</b></td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=3 class="second_title">Traditional Grade Double Gates</td>
<td> </td>
<td colspan=3 class="second_title">Signature Grade Double Gates</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td> </td>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>3'h x 8'w</td>
<td>TPAG0304RD</td>
<td>{{TPAG0304RD}}</td>
<td> </td>
<td>3'h x 8'w</td>
<td>TPAG0304CD</td>
<td>{{TPAG0304CD}}</td>
</tr>
<tr>
<td class="gray">3'h x 10'w</td>
<td class="gray">TPAG0305RD</td>
<td class="gray">{{TPAG0305RD}}</td>
<td> </td>
<td class="gray">3'h x 10'w</td>
<td class="gray">TPAG0305CD</td>
<td class="gray">{{TPAG0305CD}}</td>
</tr>
<tr>
<td>4'h x 8'w</td>
<td>TPAG0404RD</td>
<td>{{TPAG0404RD}}</td>
<td> </td>
<td>4'h x 8'w</td>
<td>TPAG0404CD</td>
<td>{{TPAG0404CD}}</td>
</tr>
<tr>
<td class="gray">4'h x 10'w</td>
<td class="gray">TPAG0405RD</td>
<td class="gray">{{TPAG0405RD}}</td>
<td> </td>
<td class="gray">4'h x 10'w</td>
<td class="gray">TPAG0405CD</td>
<td class="gray">{{TPAG0405CD}}</td>
</tr>
<tr>
<td>4'h x 12'w</td>
<td>TPAG0406RD</td>
<td>{{TPAG0406RD}}</td>
<td> </td>
<td>4'h x 12'w</td>
<td>TPAG0406CD</td>
<td>{{TPAG0406CD}}</td>
</tr>
<tr>
<td class="gray">5'h x 8'w</td>
<td class="gray">TPAG0504RD</td>
<td class="gray">{{TPAG0504RD}}</td>
<td> </td>
<td class="gray">5'h x 8'w</td>
<td class="gray">TPAG0504CD</td>
<td class="gray">{{TPAG0504CD}}</td>
</tr>
<tr>
<td>5'h x 10'w</td>
<td>TPAG0505RD</td>
<td>{{TPAG0505RD}}</td>
<td> </td>
<td>5'h x 10'w</td>
<td>TPAG0505CD</td>
<td>{{TPAG0505CD}}</td>
</tr>
<tr>
<td class="gray">5'h x 12'w</td>
<td class="gray">TPAG0506RD</td>
<td class="gray">{{TPAG0506RD}}</td>
<td> </td>
<td class="gray">5'h x 12'w</td>
<td class="gray">TPAG0506CD</td>
<td class="gray">{{TPAG0506CD}}</td>
</tr>
<tr>
<td>6'h x 8'w</td>
<td>TPAG0604RD</td>
<td>{{TPAG0604RD}}</td>
<td> </td>
<td>6'h x 8'w</td>
<td>TPAG0604CD</td>
<td>{{TPAG0604CD}}</td>
</tr>
<tr>
<td class="gray">6'h x 10'w</td>
<td class="gray">TPAG0605RD</td>
<td class="gray">{{TPAG0605RD}}</td>
<td> </td>
<td class="gray">6'h x 10'w</td>
<td class="gray">TPAG0605CD</td>
<td class="gray">{{TPAG0605CD}}</td>
</tr>
<tr>
<td>6'h x 12'w</td>
<td>TPAG0606RD</td>
<td>{{TPAG0606RD}}</td>
<td> </td>
<td>6'h x 12'w</td>
<td>TPAG0606CD</td>
<td>{{TPAG0606CD}}</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan="5" class="title page_level"><b><u>Pool Style Aluminum Fence</td>
<td colspan=2><img class="image23" src="{{image23}}"></td>
</tr>

<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>

<tr>
<td colspan=3 class="second_title">Traditional Grade Fence Panels</td>
<td> </td>
<td colspan=3 class="second_title">Signature Grade Fence Panels</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td> </td>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>54"h x 6'w</td>
<td>TPA5406R</td>
<td>{{TPA5406R}}</td>
<td> </td>
<td>54"h x 8'w</td>
<td>TPA5408C</td>
<td>{{TPA5408C}}</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=3 class="second_title">Traditional Grade Single Gates</td>
<td> </td>
<td colspan=3 class="second_title">Signature Grade Single Gates</td>
</tr>
<tr>
<td height="33">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td> </td>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>54"h x 4'w</td>
<td>TPAG0544R</td>
<td>{{TPAG0544R}}</td>
<td> </td>
<td>54"h x 4'w</td>
<td>TPAG0544C</td>
<td>{{TPAG0544C}}</td>
</tr>
<tr>
<td class="gray">54"h x 5'w</td>
<td class="gray">TPAG0545R</td>
<td class="gray">{{TPAG0545R}}</td>
<td> </td>
<td class="gray">54"h x 5'w</td>
<td class="gray">TPAG0545C</td>
<td class="gray">{{TPAG0545C}}</td>
</tr>
<tr>
<td>54"h x 6'w</td>
<td>TPAG0546R</td>
<td>{{TPAG0546R}}</td>
<td> </td>
<td>54"h x 6'w</td>
<td>TPAG0546C</td>
<td>{{TPAG0546C}}</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=3 class="second_title">Traditional Grade Arched Gates</td>
<td> </td>
<td colspan=3 class="second_title">Signature Grade Arched Gates</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td> </td>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>54"h x 4'w</td>
<td>TPAG0544R-A</td>
<td>{{TPAG0544RA}}</td>
<td> </td>
<td>54"h x 4'w</td>
<td>TPAG0544C-A</td>
<td>{{TPAG0544CA}}</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=3 class="second_title">Traditional Grade Double Gates</td>
<td> </td>
<td colspan=3 class="second_title">Signature Grade Double Gates</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td> </td>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>54"h x 8'w</td>
<td>TPAG0544RD</td>
<td>{{TPAG0544RD}}</td>
<td> </td>
<td>54"h x 8'w</td>
<td>TPAG0544CD</td>
<td>{{TPAG0544CD}}</td>
</tr>
<tr>
<td class="gray">54"h x 10'w</td>
<td class="gray">TPAG0545RD</td>
<td class="gray">{{TPAG0545RD}}</td>
<td> </td>
<td class="gray">54"h x 10'w</td>
<td class="gray">TPAG0545CD</td>
<td class="gray">{{TPAG0545CD}}</td>
</tr>
<tr>
<td>54"h x 12'w</td>
<td>TPAG0546RD</td>
<td>{{TPAG0546RD}}</td>
<td> </td>
<td>54"h x 12'w</td>
<td>TPAG0546CD</td>
<td>{{TPAG0546CD}}</td>
</tr>
</tbody>
</table>
<footer>
    Page 13
</footer>
</body>
</html>
