<html>
<head>
<style type="text/css">
{{style}}
td {
    width: 100px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}
table {
    border-spacing: 0;
}
.image24 {
    width: 150%;
}
.image25 {
    width: 150%;
}
.image26 {
    width: 150%;
}
.title {
    font-size:24px;
}
.tr_images {
    padding-top: 20px;
}
</style>
</head>
<body>
<table>
<tbody>
<tr>
<td colspan="8" class="title page_level left"><b><u>Classic Style Aluminum Driveway Gates</u></b></td>
</tr>
<tr>
<td colspan=8 class=left>* Driveway gate prices do not include hinges and latches required for mounting (see Gate Hardware section for options)</td>
</tr>
<tr>
<td colspan=8 class=left>* Optional automated gate opener systems available (see Gate Automation section for options)</td>
</tr>
<tr>
<td colspan=8 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=8 class="second_title left">Single Piece Gates</td>
</tr>
<tr>
<td class="header">Height</td>
<td class="header">Width</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td colspan="4" rowspan="10"><img class="image24" src="{{image24}}"></td>
</tr>
<tr>
<td>5' to 6' Arch</td>
<td>10' wide</td>
<td>TPSD5610A</td>
<td>{{TPSD5610A}}</td>
</tr>
<tr>
<td class="gray">5' to 6' Arch</td>
<td class="gray">12' wide</td>
<td class="gray">TPSD5612A</td>
<td class="gray">{{TPSD5612A}}</td>
</tr>
<tr>
<td class="td_space" colspan=4>&nbsp;</td>
</tr>
<tr>
<td>6' to 7' Arch</td>
<td>10' wide</td>
<td>TPSD6710A</td>
<td>{{TPSD6710A}}</td>
</tr>
<tr>
<td class="gray">6' to 7' Arch</td>
<td class="gray">12' wide</td>
<td class="gray">TPSD6712A</td>
<td class="gray">{{TPSD6712A}}</td>
</tr>
<tr>
<td class="td_space" colspan=4>&nbsp;</td>
</tr>
<tr>
<td colspan=4 class="second_title left">Double Piece Gates</td>
</tr>
<tr>
<td class="header">Height</td>
<td class="header">Width</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>5' to 6' Arch</td>
<td>10' wide</td>
<td>TPDD0565A</td>
<td>{{TPDD0565A}}</td>
</tr>
<tr>
<td class="gray">5' to 6' Arch</td>
<td class="gray">12' wide</td>
<td class="gray">TPDD0566A</td>
<td class="gray">{{TPDD0566A}}</td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td>5' to 6' Arch</td>
<td>14' wide</td>
<td>TPDD0567A</td>
<td>{{TPDD0567A}}</td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td class="gray">5' to 6' Arch</td>
<td class="gray">16' wide</td>
<td class="gray">TPDD0568A</td>
<td class="gray">{{TPDD0568A}}</td>
<td colspan="4" rowspan="10"><img class="image25" src="{{image25}}"></td>
</tr>
<tr>
<td>5' to 6' Arch</td>
<td>18' wide</td>
<td>TPDD0569A</td>
<td>{{TPDD0569A}}</td>
</tr>
<tr>
<td class="gray">5' to 6' Arch</td>
<td class="gray">20' wide</td>
<td class="gray">TPDD5610A</td>
<td class="gray">{{TPDD5610A}}</td>
</tr>
<tr>
<td class="td_space" colspan=4>&nbsp;</td>
</tr>
<tr>
<td>6' to 7' Arch</td>
<td>10' wide</td>
<td>TPDD0675A</td>
<td>{{TPDD0675A}}</td>
</tr>
<tr>
<td class="gray">6' to 7' Arch</td>
<td class="gray">12' wide</td>
<td class="gray">TPDD0676A</td>
<td class="gray">{{TPDD0676A}}</td>
</tr>
<tr>
<td>6' to 7' Arch</td>
<td>14' wide</td>
<td>TPDD0677A</td>
<td>{{TPDD0677A}}</td>
</tr>
<tr>
<td class="gray">6' to 7' Arch</td>
<td class="gray">16' wide</td>
<td class="gray">TPDD0678A</td>
<td class="gray">{{TPDD0678A}}</td>
</tr>
<tr>
<td>6' to 7' Arch</td>
<td>18' wide</td>
<td>TPDD0679A</td>
<td>{{TPDD0679A}}</td>
</tr>
<tr>
<td class="gray">6' to 7' Arch</td>
<td class="gray">20' wide</td>
<td class="gray">TPDD6710A</td>
<td class="gray">{{TPDD6710A}}</td>
</tr>
<tr>
<td colspan=8 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan="8" class="title page_level left"><b><u>
Smooth Top Style Aluminum Driveway Gates
</u></b>
</td>
</tr>
<tr>
<td colspan=8 class=left>* Driveway gate prices do not include hinges and latches required for mounting (see Gate Hardware section for options)</td>
</tr>
<tr>
<td colspan=8 class=left>* Optional automated gate opener systems available (see Gaet Automation section for options)</td>
</tr>
<tr>
<td colspan=4 class="td_space">&nbsp;</td>
<td colspan="4" rowspan="10"><img class="image26" src="{{image26}}"></td>
</tr>
<tr>
<td class="second_title left" colspan=4>Double Piece Gates</td>
</tr>
<tr>
<td class="header">Height</td>
<td class="header">Width</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>5' to 6' Arch</td>
<td>12' wide</td>
<td>TPDD0566ASM</td>
<td>{{TPDD0566ASM}}</td>
</tr>
<tr>
<td class="gray">5' to 6' Arch</td>
<td class="gray">14' wide</td>
<td class="gray">TPDD0567ASM</td>
<td class="gray">{{TPDD0567ASM}}</td>
</tr>
<tr>
<td>5' to 6' Arch</td>
<td>16' wide</td>
<td>TPDD0568ASM</td>
<td>{{TPDD0568ASM}}</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td>6' to 7' Arch</td>
<td>12' wide</td>
<td>TPDD0676ASM</td>
<td>{{TPDD0676ASM}}</td>
</tr>
<tr>
<td class="gray">6' to 7' Arch</td>
<td class="gray">14' wide</td>
<td class="gray">TPDD0677ASM</td>
<td class="gray">{{TPDD0677ASM}}</td>
</tr>
<tr>
<td>6' to 7' Arch</td>
<td>16' wide</td>
<td>TPDD0678ASM</td>
<td>{{TPDD0678ASM}}</td>
</tr>
</tbody>
</table>
<footer>
    Page 14
</footer>
</body>
</html>