<html>
<head>
<style type="text/css">
{{style}}
td {
    width: 80px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}
table {
    border-spacing: 0;
}
.image27 {
    width: 450%;
}
.td_images {
    padding-top: 40px;
}
</style>
</head>
<body>
<table>
<tbody>
<tr>
<td colspan="7" class="title page_level left"><b><u>Infinity Aluminum Fence and Gate Posts</u></b></td>
</tr>
<tr>
<td colspan=7 class=left>* Post prices do not include post cap (see Aluminum Hardware section for options)</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=7 class="second_title left">Traditional Grade Posts</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td class="header">Fence</td>
<td class="header">SKU</td>
<td class="header">Post Size</td>
<td class="header">Length</td>
<td class="header">Thickness</td>
<td class="header">Type</td>
<td class="header">Price</td>
</tr>
<tr>
<td>3ft Tall</td>
<td>TPAP3606LR</td>
<td>2" x 2"</td>
<td>5'</td>
<td>0.060"</td>
<td>Line</td>
<td>{{TPAP3606LR}}</td>
</tr>
<tr>
<td class="gray">3ft Tall</td>
<td class="gray">TPAP3606ER</td>
<td class="gray">2" x 2"</td>
<td class="gray">5'</td>
<td class="gray">0.060"</td>
<td class="gray">End</td>
<td class="gray">{{TPAP3606ER}}</td>
</tr>
<tr>
<td>3ft Tall</td>
<td>TPAP3606CR</td>
<td>2" x 2"</td>
<td>5'</td>
<td>0.060"</td>
<td>Corner</td>
<td>{{TPAP3606CR}}</td>
</tr>
<tr>
<td class="gray">3ft Tall</td>
<td class="gray">TPAP3612ER</td>
<td class="gray">2" x 2"</td>
<td class="gray">5'</td>
<td class="gray">0.125"</td>
<td class="gray">Gate End</td>
<td class="gray">{{TPAP3612ER}}</td>
</tr>
<tr>
<td>3ft Tall</td>
<td>TPAP3612R</td>
<td>2" x 2"</td>
<td>5'</td>
<td>0.125"</td>
<td>Blank</td>
<td>{{TPAP3612R}}</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td>4ft Tall</td>
<td>TPAP4606LR</td>
<td>2" x 2"</td>
<td>6'</td>
<td>0.060"</td>
<td>Line</td>
<td>{{TPAP4606LR}}</td>
</tr>
<tr>
<td class="gray">4ft Tall</td>
<td class="gray">TPAP4606ER</td>
<td class="gray">2" x 2"</td>
<td class="gray">6'</td>
<td class="gray">0.060"</td>
<td class="gray">End</td>
<td class="gray">{{TPAP4606ER}}</td>
</tr>
<tr>
<td>4ft Tall</td>
<td>TPAP4606CR</td>
<td>2" x 2"</td>
<td>6'</td>
<td>0.060"</td>
<td>Corner</td>
<td>{{TPAP4606CR}}</td>
</tr>
<tr>
<td class="gray">4ft Tall</td>
<td class="gray">TPAP4612ER</td>
<td class="gray">2" x 2"</td>
<td class="gray">6'</td>
<td class="gray">0.125"</td>
<td class="gray">Gate End</td>
<td class="gray">{{TPAP4612ER}}</td>
</tr>
<tr>
<td>4ft Tall</td>
<td>TPAP4612R</td>
<td>2" x 2"</td>
<td>6'</td>
<td>0.125"</td>
<td>Blank</td>
<td>{{TPAP4612R}}</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td>54" Tall</td>
<td>TPAP5406LR</td>
<td>2" x 2"</td>
<td>6.5'</td>
<td>0.060"</td>
<td>Line</td>
<td>{{TPAP5406LR}}</td>
</tr>
<tr>
<td class="gray">54" Tall</td>
<td class="gray">TPAP5406ER</td>
<td class="gray">2" x 2"</td>
<td class="gray">6.5'</td>
<td class="gray">0.060"</td>
<td class="gray">End</td>
<td class="gray">{{TPAP5406ER}}</td>
</tr>
<tr>
<td>54" Tall</td>
<td>TPAP5406CR</td>
<td>2" x 2"</td>
<td>6.5'</td>
<td>0.060"</td>
<td>Corner</td>
<td>{{TPAP5406CR}}</td>
</tr>
<tr>
<td class="gray">54" Tall</td>
<td class="gray">TPAP5412ER</td>
<td class="gray">2" x 2"</td>
<td class="gray">6.5'</td>
<td class="gray">0.125"</td>
<td class="gray">Gate End</td>
<td class="gray">{{TPAP5412ER}}</td>
</tr>
<tr>
<td>54" Tall</td>
<td>TPAP5412R</td>
<td>2" x 2"</td>
<td>6.5'</td>
<td>0.125"</td>
<td>Blank</td>
<td>{{TPAP5412R}}</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td>5ft Tall</td>
<td>TPAP5606LR</td>
<td>2" x 2"</td>
<td>7'</td>
<td>0.060"</td>
<td>Line</td>
<td>{{TPAP5606LR}}</td>
</tr>
<tr>
<td class="gray">5ft Tall</td>
<td class="gray">TPAP5606ER</td>
<td class="gray">2" x 2"</td>
<td class="gray">7'</td>
<td class="gray">0.060"</td>
<td class="gray">End</td>
<td class="gray">{{TPAP5606ER}}</td>
</tr>
<tr>
<td>5ft Tall</td>
<td>TPAP5606CR</td>
<td>2" x 2"</td>
<td>7'</td>
<td>0.060"</td>
<td>Corner</td>
<td>{{TPAP5606CR}}</td>
</tr>
<tr>
<td class="gray">5ft Tall</td>
<td class="gray">TPAP5612ER</td>
<td class="gray">2" x 2"</td>
<td class="gray">7'</td>
<td class="gray">0.125"</td>
<td class="gray">Gate End</td>
<td class="gray">{{TPAP5612ER}}</td>
</tr>
<tr>
<td>5ft Tall</td>
<td>TPAP5612R</td>
<td>2" x 2"</td>
<td>7'</td>
<td>0.125"</td>
<td>Blank</td>
<td>{{TPAP5612R}}</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td>6ft Tall</td>
<td>TPAP6606LR</td>
<td>2" x 2"</td>
<td>8.5'</td>
<td>0.060"</td>
<td>Line</td>
<td>{{TPAP6606LR}}</td>
</tr>
<tr>
<td class="gray">6ft Tall</td>
<td class="gray">TPAP6606ER</td>
<td class="gray">2" x 2"</td>
<td class="gray">8.5'</td>
<td class="gray">0.060"</td>
<td class="gray">End</td>
<td class="gray">{{TPAP6606ER}}</td>
</tr>
<tr>
<td>6ft Tall</td>
<td>TPAP6606CR</td>
<td>2" x 2"</td>
<td>8.5'</td>
<td>0.060"</td>
<td>Corner</td>
<td>{{TPAP6606CR}}</td>
</tr>
<tr>
<td class="gray">6ft Tall</td>
<td class="gray">TPAP6612ER</td>
<td class="gray">2" x 2"</td>
<td class="gray">8.5'</td>
<td class="gray">0.125"</td>
<td class="gray">Gate End</td>
<td class="gray">{{TPAP6612ER}}</td>
</tr>
<tr>
<td>6ft Tall</td>
<td>TPAP6612R</td>
<td>2" x 2"</td>
<td>8.5'</td>
<td>0.125"</td>
<td>Blank</td>
<td>{{TPAP6612R}}</td>
</tr>
<tr>
<td colspan=7 class="td_images"><img class="image27 border" src="{{image27}}"></td>
</tr>
</tbody>
</table>
<footer>
    Page 15
</footer>
</body>
</html>