<html>
<head>
<style type="text/css">
{{style}}
td {
    width: 80px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}
table {
    border-spacing: 0;
}
.image27 {
    width: 150%;
}
.td_images {
    padding-top: 40px;
}
</style>
</head>
<body>
<table>
<tbody>
<tr>
<td colspan=7 class="page_level left"><b>Aluminum Fence and Gate Posts (cont'd)</b></td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=7 class="second_title left">Signature Grade Posts</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td class="header">Fence</td>
<td class="header">SKU</td>
<td class="header">Post Size</td>
<td class="header">Length</td>
<td class="header">Thickness</td>
<td class="header">Type</td>
<td class="header">Price</td>
</tr>
<tr>
<td>3ft Tall</td>
<td>TPAP3807LC</td>
<td>2.5" x 2.5"</td>
<td>5'</td>
<td>0.070"</td>
<td>Line</td>
<td>{{TPAP3807LC}}</td>
</tr>
<tr>
<td class="gray">3ft Tall</td>
<td class="gray">TPAP3807EC</td>
<td class="gray">2.5" x 2.5"</td>
<td class="gray">5'</td>
<td class="gray">0.070"</td>
<td class="gray">End</td>
<td class="gray">{{TPAP3807EC}}</td>
</tr>
<tr>
<td>3ft Tall</td>
<td>TPAP3807CC</td>
<td>2.5" x 2.5"</td>
<td>5'</td>
<td>0.070"</td>
<td>Corner</td>
<td>{{TPAP3807CC}}</td>
</tr>
<tr>
<td class="gray">3ft Tall</td>
<td class="gray">TPAP3812EC</td>
<td class="gray">2.5" x 2.5"</td>
<td class="gray">5'</td>
<td class="gray">0.125"</td>
<td class="gray">Gate End</td>
<td class="gray">{{TPAP3812EC}}</td>
</tr>
<tr>
<td>3ft Tall</td>
<td>TPAP3812C</td>
<td>2.5" x 2.5"</td>
<td>5'</td>
<td>0.125"</td>
<td>Blank</td>
<td>{{TPAP3812C}}</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td>4ft Tall</td>
<td>TPAP4807LC</td>
<td>2.5" x 2.5"</td>
<td>6'</td>
<td>0.070"</td>
<td>Line</td>
<td>{{TPAP4807LC}}</td>
</tr>
<tr>
<td class="gray">4ft Tall</td>
<td class="gray">TPAP4807EC</td>
<td class="gray">2.5" x 2.5"</td>
<td class="gray">6'</td>
<td class="gray">0.070"</td>
<td class="gray">End</td>
<td class="gray">{{TPAP4807EC}}</td>
</tr>
<tr>
<td>4ft Tall</td>
<td>TPAP4807CC</td>
<td>2.5" x 2.5"</td>
<td>6'</td>
<td>0.070"</td>
<td>Corner</td>
<td>{{TPAP4807CC}}</td>
</tr>
<tr>
<td class="gray">4ft Tall</td>
<td class="gray">TPAP4812EC</td>
<td class="gray">2.5" x 2.5"</td>
<td class="gray">6'</td>
<td class="gray">0.125"</td>
<td class="gray">Gate End</td>
<td class="gray">{{TPAP4812EC}}</td>
</tr>
<tr>
<td>4ft Tall</td>
<td>TPAP4812C</td>
<td>2.5" x 2.5"</td>
<td>6'</td>
<td>0.125"</td>
<td>Blank</td>
<td>{{TPAP4812C}}</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td>54" Tall</td>
<td>TPAP5407LC</td>
<td>2.5" x 2.5"</td>
<td>6.5'</td>
<td>0.070"</td>
<td>Line</td>
<td>{{TPAP5407LC}}</td>
</tr>
<tr>
<td class="gray">54" Tall</td>
<td class="gray">TPAP5407EC</td>
<td class="gray">2.5" x 2.5"</td>
<td class="gray">6.5'</td>
<td class="gray">0.070"</td>
<td class="gray">End</td>
<td class="gray">{{TPAP5407EC}}</td>
</tr>
<tr>
<td>54" Tall</td>
<td>TPAP5407CC</td>
<td>2.5" x 2.5"</td>
<td>6.5'</td>
<td>0.070"</td>
<td>Corner</td>
<td>{{TPAP5407CC}}</td>
</tr>
<tr>
<td class="gray">54" Tall</td>
<td class="gray">TPAP5412EC</td>
<td class="gray">2.5" x 2.5"</td>
<td class="gray">6.5'</td>
<td class="gray">0.125"</td>
<td class="gray">Gate End</td>
<td class="gray">{{TPAP5412EC}}</td>
</tr>
<tr>
<td>54" Tall</td>
<td>TPAP5412C</td>
<td>2.5" x 2.5"</td>
<td>6.5'</td>
<td>0.125"</td>
<td>Blank</td>
<td>{{TPAP5412C}}</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td>5ft Tall</td>
<td>TPAP5807LC</td>
<td>2.5" x 2.5"</td>
<td>7'</td>
<td>0.070"</td>
<td>Line</td>
<td>{{TPAP5807LC}}</td>
</tr>
<tr>
<td class="gray">5ft Tall</td>
<td class="gray">TPAP5807EC</td>
<td class="gray">2.5" x 2.5"</td>
<td class="gray">7'</td>
<td class="gray">0.070"</td>
<td class="gray">End</td>
<td class="gray">{{TPAP5807EC}}</td>
</tr>
<tr>
<td>5ft Tall</td>
<td>TPAP5807CC</td>
<td>2.5" x 2.5"</td>
<td>7'</td>
<td>0.070"</td>
<td>Corner</td>
<td>{{TPAP5807CC}}</td>
</tr>
<tr>
<td class="gray">5ft Tall</td>
<td class="gray">TPAP5812EC</td>
<td class="gray">2.5" x 2.5"</td>
<td class="gray">7'</td>
<td class="gray">0.125"</td>
<td class="gray">Gate End</td>
<td class="gray">{{TPAP5812EC}}</td>
</tr>
<tr>
<td>5ft Tall</td>
<td>TPAP5812C</td>
<td>2.5" x 2.5"</td>
<td>7'</td>
<td>0.125"</td>
<td>Blank</td>
<td>{{TPAP5812C}}</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td>6ft Tall</td>
<td>TPAP6807LC</td>
<td>2.5" x 2.5"</td>
<td>8.5'</td>
<td>0.070"</td>
<td>Line</td>
<td>{{TPAP6807LC}}</td>
</tr>
<tr>
<td class="gray">6ft Tall</td>
<td class="gray">TPAP6807EC</td>
<td class="gray">2.5" x 2.5"</td>
<td class="gray">8.5'</td>
<td class="gray">0.070"</td>
<td class="gray">End</td>
<td class="gray">{{TPAP6807EC}}</td>
</tr>
<tr>
<td>6ft Tall</td>
<td>TPAP6807CC</td>
<td>2.5" x 2.5"</td>
<td>8.5'</td>
<td>0.070"</td>
<td>Corner</td>
<td>{{TPAP6807CC}}</td>
</tr>
<tr>
<td class="gray">6ft Tall</td>
<td class="gray">TPAP6812EC</td>
<td class="gray">2.5" x 2.5"</td>
<td class="gray">8.5'</td>
<td class="gray">0.125"</td>
<td class="gray">Gate End</td>
<td class="gray">{{TPAP6812EC}}</td>
</tr>
<tr>
<td>6ft Tall</td>
<td>TPAP6812C</td>
<td>2.5" x 2.5"</td>
<td>8.5'</td>
<td>0.125"</td>
<td>Blank</td>
<td>{{TPAP6812C}}</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=7 class="second_title left">Driveway Gate Posts</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">Length</td>
<td class="header">Thickness</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td> </td>
<td> </td>
</tr>
<tr>
<td>4" x 4"</td>
<td>8'</td>
<td>0.125"</td>
<td>TP4408A</td>
<td>{{TP4408A}}</td>
<td> </td>
<td> </td>
</tr>
<tr>
<td class="gray">4" x 4"</td>
<td class="gray">9'</td>
<td class="gray">0.125"</td>
<td class="gray">TP4409A</td>
<td class="gray">{{TP4409A}}</td>
<td> </td>
<td> </td>
</tr>
<tr>
<td>6" x 6"</td>
<td>9'</td>
<td>0.125"</td>
<td>TP6609A</td>
<td>{{TP6609A}}</td>
<td> </td>
<td> </td>
</tr>
<tr>
<td colspan=7 class="td_images"><img class="image27 border" src="{{image27}}"></td>
</tr>
</tbody>
</table>
<footer>
    Page 16
</footer>
</body>
</html>