<html>
<head>
<style type="text/css">
{{style}}
td {
    width: 110px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}
table {
    border-spacing: 0;
}
.image28 {
    width: 100%;
}
.image29 {
    width: 100%;
}
.image30 {
    width: 100%;
}
.td_images {
    padding-top: 20px;
}
.td_images_29_30 {
    padding-left: 10px;
}
</style>
</head>
<body>
<table>
<tbody>
<tr>
<td colspan="7" class="title page_level left"><b><u>Infinity Aluminum Fence and Gate Hardware</u></b></td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=3 class="second_title">Cast Aluminum Flat Post Caps</td>
<td> </td>
<td colspan=3 class="second_title">Cast Aluminum Ball Post Caps</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td> </td>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>2"</td>
<td>TP06004-ALBH</td>
<td>{{TP06004ALBH}}</td><!--TP06004-ALBH not defined-->
<td> </td>
<td>2"</td>
<td>TP05009-ALBH</td>
<td>{{TP05009ALBH}}</td><!--TP05009-ALBH not defined-->
</tr>
<tr>
<td class="gray">2.5"</td>
<td class="gray">TP06010-ALBH</td>
<td class="gray">{{TP06010ALBH}}</td><!--TP06010-ALBH not defined-->
<td> </td>
<td class="gray">2.5"</td>
<td class="gray">TP05010-ALBH</td>
<td class="gray">{{TP05010ALBH}}</td><!--TP05010-ALBH not defined-->
</tr>
<tr>
<td>4"</td>
<td>TP06006-ALBH</td>
<td>{{TP06006ALBH}}</td>
<td> </td>
<td>4"</td>
<td>TP05012-ALBH</td>
<td>{{TP05012ALBH}}</td>
</tr>
<tr>
<td class="gray">6"</td>
<td class="gray">TP06007-ALBH</td>
<td class="gray">{{TP06007ALBH}}</td>
<td> </td>
<td class="gray">6"</td>
<td class="gray">TP05014-ALBH</td>
<td class="gray">{{TP05014ALBH}}</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=3 class="second_title">Traditional Grade Panel Brackets</td>
<td> </td>
<td colspan=3 class="second_title">Signature Grade Panel Brackets</td>
</tr>
<tr>
<td class="header">Type</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td> </td>
<td class="header">Type</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>Wall/ Flex</td>
<td>TPAFBRR1</td>
<td>{{TPAFBRR1}}</td>
<td> </td>
<td>Wall/ Flex</td>
<td>TPAFBRC3</td>
<td>{{TPAFBRC3}}</td>
</tr>
<tr>
<td class="gray">Angle</td>
<td class="gray">TPAFBAR2</td>
<td class="gray">{{TPAFBAR2}}</td>
<td> </td>
<td class="gray">Angle</td>
<td class="gray">TPAFBRC4</td>
<td class="gray">{{TPAFBRC4}}</td>
</tr>
<tr>
<td>Swivel</td>
<td>NW61955BKR</td>
<td>{{NW61955BKR}}</td>
<td> </td>
<td>Swivel</td>
<td>NW6228BKC</td>
<td>{{NW6228BKC}}</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=3 class="second_title">Self-Tapping Screws (100 per Box)</td>
<td> </td>
<td colspan=3 class="second_title">Flange Inserts for Posts</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td> </td>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>1" x #8</td>
<td>TPSDS108</td>
<td>{{TPSDS108}}</td>
<td> </td>
<td>2"</td>
<td>TP12208B</td>
<td>{{TP12208B}}</td>
</tr>
<tr>
<td colspan=4> </td>
<td class="gray">2.5"</td>
<td class="gray">TP12209B</td>
<td class="gray">{{TP12209B}}</td>
</tr>
<tr>
<tr>
</tr>
<td colspan=4 class="td_images"><img class="image28 border" src="{{image28}}"></td>
<td colspan=3 class="td_images td_images_29_30"><img class="image29 border" src="{{image29}}"><br><img class="image30 border" src="{{image30}}"></td>
</tr>
</tbody>
</table>
<footer>
    Page 17
</footer>
</body>
</html>