<html>
<head>
<style type="text/css">
{{style}}
body {
    margin-top: 2cm;
}
td {
    text-align: center;
    vertical-align: middle;
    padding: 0;
}
table {
    border-spacing: 0;
}
.image33 {
    width: 45%;
}
.td_images {
    padding-top: 20px;
}
.first_title_td {
    width: 400px;
}
.second_third_title_td {
    width: 150px;
}
</style>
</head>
<body>
<table>
<tbody>
<tr>
<td colspan="7" class="title page_level left"><b><u>
Driveway Gate Automation</u></b></td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=4 class="header left first_title_td">Opener Systems</td>
<td colspan="2" class="header second_third_title_td">SKU</td>
<td class="header second_third_title_td">Price</td>
</tr>
<tr>
<td colspan=4 class="left">Linear PRO Single Gate Opener Kit (Medium Duty)</td>
<td colspan="2">TPSW3000XLS</td>
<td>{{TPSW3000XLS}}</td>
</tr>
<tr>
<td colspan=4 class="left gray">Linear PRO Slave Motor for 3000 Series</td>
<td colspan="2" class="gray">TPSW3200XLS</td>
<td class="gray">{{TPSW3200XLS}}</td>
</tr>
<tr>
<td colspan=4 class="left">Linear PRO Single Gate Opener Kit (Heavy Duty)</td>
<td colspan="2">TPSW4000XLS</td>
<td>{{TPSW4000XLS}}</td>
</tr>
<tr>
<td colspan=4 class="left gray">Linear PRO Slave Motor for 4000 Series</td>
<td colspan="2" class="gray">TPSW4200XLS</td>
<td class="gray">{{TPSW4200XLS}}</td>
</tr>
<tr>
<td colspan=4 class="left">Linear PRO Push to Open Bracket for 3000 Series</td>
<td colspan="2">TPR4388</td>
<td>{{TPR4388}}</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=7 class="header left">Transmitters</td>
</tr>
<tr>
<td colspan=4 class="left gray">Linear PRO 2-Button Transmitter</td>
<td colspan="2" class="gray">TPRB742</td>
<td class="gray">{{TPRB742}}</td>
</tr>
<tr>
<td colspan=4 class="left">Linear PRO 1-Button Transmitter</td>
<td colspan="2">TPRB741</td>
<td>{{TPRB741}}</td>
</tr>
<tr>
<td colspan=4 class="left gray">Linear PRO Push Button Doorbell Style Opener</td>
<td colspan="2" class="gray">TPRB101</td>
<td class="gray">{{TPRB101}}</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=7 class="header left">Keypads and Intercoms</td>
</tr>
<tr>
<td colspan=4 class="left">Linear PRO Bulldog Pedestrian Gate Lock and Keypad</td>
<td colspan="2">TPFM145</td>
<td>{{TPFM145}}</td>
</tr>
<tr>
<td colspan=4 class="left gray">Linear PRO Wired/ Wireless Intercom with Keypad</td>
<td colspan="2" class="gray">TPFM3100MBC</td>
<td class="gray">{{TPFM3100MBC}}</td><!--TPFM3100MBC not defined-->
</tr>
<tr>
<td colspan=4 class="left">Linear PRO Addl Intercom Base for TPFM3100MBC</td>
<td colspan="2">TPFM3101MBC</td>
<td>{{TPFM3101MBC}}</td><!--TPFM3101MBC not defined-->
</tr>
<tr>
<td colspan=4 class="left gray">Linear PRO Wired/ Wireless Keypad</td>
<td colspan="2" class="gray">TPF310</td>
<td class="gray">{{TPF310}}</td>
</tr>
<tr>
<td colspan=4 class="left">Linear PRO Gooseneck Post for Keypad/ Intercom</td>
<td colspan="2">TPF100</td>
<td>{{TPF100}}</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=7 class="header left">Locks</td>
</tr>
<tr>
<td colspan=4 class="left gray">Linear PRO Pin Lock</td>
<td colspan="2" class="gray">TPFM345</td>
<td class="gray">{{TPFM345}}</td>
</tr>
<tr>
<td colspan=4 class="left">Linear PRO Electric Gate Lock</td>
<td colspan="2">TPFM144</td>
<td>{{TPFM144}}</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=7 class="header left">Entry/ Exit Sensors</td>
</tr>
<tr>
<td colspan=4 class="left gray">Linear PRO Vehicle Exit Sensor (50')</td>
<td colspan="2" class="gray">TPFM139</td>
<td class="gray">{{TPFM139}}</td>
</tr>
<tr>
<td colspan=4 class="left">Linear PRO Wireless Vehicle Exit Sensor</td>
<td colspan="2">TPR4500</td>
<td>{{TPR4500}}</td>
</tr>
<tr>
<td colspan=4 class="left gray">Linear PRO Photoelectric Dual Beam Detector</td>
<td colspan="2" class="gray">TPR4222</td>
<td class="gray">{{TPR4222}}</td>
</tr>
<tr>
<td colspan=4 class="left">Linear PRO Siren Operated Sensor (SOS)</td>
<td colspan="2">TPSOS2510373</td>
<td>{{TPSOS2510373}}</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=7 class="header left">Power Accessories</td>
</tr>
<tr>
<td colspan=4 class="left gray">Linear PRO 10W Solar Panel Kit</td>
<td colspan="2" class="gray">TPFM123</td>
<td class="gray">{{TPFM123}}</td>
</tr>
<tr>
<td colspan=4 class="left">Linear PRO Replacement/ Additional Battery</td>
<td colspan="2">TPRB500</td>
<td>{{TPRB500}}</td>
</tr>
<tr>
<td colspan=4 class="left gray">Linear PRO Replacement Plug-In Transformer</td>
<td colspan="2" class="gray">TPRB570</td>
<td class="gray">{{TPRB570}}</td>
</tr>
<tr>
<td colspan=7 class="td_images">
<img class="image33 border" src="{{image33}}">
</td>
</tr>
</tbody>
</table>
<footer>
    Page 19
</footer>
</body>
</html>