<html>
<head>
<style type="text/css">
{{style}}
td {
    width: 90px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}
table {
    border-spacing: 0;
}
.image34 {
    width: 180%;
}
.image35 {
    width: 200%;
}
.image36 {
    width: 250%;
}
.td_images {
    padding-top: 20px;
}
</style>
</head>
<body>
<table>
<tbody>
<tr>
<td colspan="7" class="title page_level left"><b><u>
Add-On Decorations</u></b></td>
</tr>
<tr>
<td colspan=7 class="left">* All add-on decorations fit vertically over the picket and are secured via self-tapping screws</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=7 class="second_title left">Individual Decorations</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td class="header">Fence Grade</td>
<td class="header">Style</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td class="header">Height</td>
<td class="header">Width</td>
<td> </td>
</tr>
<tr>
<td>Traditional</td>
<td>Butterfly</td>
<td>TP12010-BH</td>
<td>{{TP12010BH}}</td>
<td>3.625"</td>
<td>3.75"</td>
<td> </td>
</tr>
<tr>
<td class="gray">Signature</td>
<td class="gray">Butterfly</td>
<td class="gray">TP12010-2BH</td>
<td class="gray">{{TP120102BH}}</td>
<td class="gray">3.625"</td>
<td class="gray">3.75"</td>
<td> </td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td>Traditional</td>
<td>Ring Set</td>
<td>TPDRA01R</td>
<td>{{TPDRA01R}}</td>
<td>3.75"</td>
<td>12.875"</td>
<td> </td>
</tr>
<tr>
<td class="gray">Signature</td>
<td class="gray">Ring Set</td>
<td class="gray">TPDRA01C</td>
<td class="gray">{{TPDRA01C}}</td><!--TPDRA01C not defined-->
<td class="gray">3.75"</td>
<td class="gray">12.875"</td>
<td> </td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td>Traditional</td>
<td>Guardian</td>
<td>TP12001-BH</td>
<td>{{TP12001BH}}</td>
<td>16.5"</td>
<td>6.75"</td>
<td> </td>
</tr>
<tr>
<td class="gray">Signature</td>
<td class="gray">Guardian</td>
<td class="gray">TP12001-2BH</td>
<td class="gray">{{TP120012BH}}</td>
<td class="gray">16.5"</td>
<td class="gray">6.75"</td>
<td> </td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td>Traditional</td>
<td>Cape Cod</td>
<td>TP12004-BH</td>
<td>{{TP12004BH}}</td>
<td>13.75"</td>
<td>7.25"</td>
<td> </td>
</tr>
<tr>
<td class="gray">Signature</td>
<td class="gray">Cape Cod</td>
<td class="gray">TP12004-2BH</td>
<td class="gray">{{TP120042BH}}</td>
<td class="gray">13.75"</td>
<td class="gray">7.25"</td>
<td> </td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td>Traditional</td>
<td>Oak</td>
<td>TP12002-BH</td>
<td>{{TP12002BH}}</td>
<td>15.125"</td>
<td>7.875"</td>
<td> </td>
</tr>
<tr>
<td class="gray">Signature</td>
<td class="gray">Oak</td>
<td class="gray">TP12002-2BH</td>
<td class="gray">{{TP120022BH}}</td>
<td class="gray">15.125"</td>
<td class="gray">7.875"</td>
<td> </td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=7 class="td_space">&nbsp;</td>
</tr>
<tr>
<td colspan=7 class="second_title left">Self-Tapping Screws for Decorations</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
<td class="header">Count</td>
<td colspan="3" class="header">Note</td>
</tr>
<tr>
<td>1/2" x #8</td>
<td>TPSDS058</td>
<td>{{TPSDS058}}</td>
<td>100/ Box</td>
<td colspan="3">For Ring Decorations Only</td>
</tr>
<tr>
<td class="gray">3/4" x #8</td>
<td class="gray">TPSDS348</td>
<td class="gray">{{TPSDS348}}</td>
<td class="gray">100/ Box</td>
<td colspan="3" class="gray">For All Decorations Except Rings</td>
</tr>
<tr>
<td>1" x #8</td>
<td>TPSDS108P</td>
<td>{{TPSDS108P}}</td>
<td>100/ Box</td>
<td colspan="3">For Signature Butterfies</td>
</tr>
<tr>
<td colspan=3 class="td_images"><img class="image34 border" src="{{image34}}"></td>
<td class="td_space">&nbsp;</td>
<td colspan=3 class="td_images"><img class="image35 border" src="{{image35}}"></td>
</tr>
<tr>
<td colspan=7 class="td_images"><img class="image36 border" src="{{image36}}"></td>
</tr>
</tbody>
</table>
<footer>
    Page 19
</footer>
</body>
</html>