<html>
<head>
<style type="text/css">
{{style}}
.title {
    font-size:24px;
}
.image8 {
    width: 200%;
}
.image9 {
    width: 230%;
}
.image10 {
    width: 200%;
}
.image11 {
    width: 220%;
}
td {
    width: 80px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}
table {
    border-spacing: 0;
}
.second_title {
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
    padding-top: 5px;
}
.title_padding {
    padding-top: 20px;
    padding-bottom: 20px;
}
.tr_image10 {
    padding-top: 20px;
}
.tr_image11 {
}
</style>
</head>
<body>
<table>
<tbody>

<tr>
<td colspan="5" class="title page_level left title1"><b><u>Puppy Picket Style Iron Fence</u></b></td>
<td colspan=2 rowspan=5><center><img class="image8" src="{{image8}}"><center></td>
</tr>

<tr>
<td colspan="3" class="second_title">Traditional Grade Fence Panels</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>4'h x 8'w</td>
<td>TP0408PPR</td>
<td>235,29</td>
</tr>
<tr>
<td class="gray">5'h x 8'w</td>
<td class="gray">TP0508PPR</td>
<td class="gray">269,95</td>
</tr>

<tr>
<td colspan="3" class="second_title">Traditional Grade Single Gates</td>
<td class="td_space"> </td>
<td colspan="3" class="second_title">Traditional Grade Double Gates</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td><td class="td_space"> </td><td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>4'h x 4'w</td>
<td>TPG44PPR</td>
<td>479,16</td><td class="td_space"> </td><td>4'h x 8'w</td>
<td>TPG44PPRD</td>
<td>958,32</td>
</tr>
<tr>
<td class="gray">4'h x 5'w</td>
<td class="gray">TPG45PPR</td>
<td class="gray">532,4</td>
<td class="td_space"> </td>
<td class="gray">4'h x 10'w</td>
<td class="gray">TPG45PPRD</td>
<td class="gray">1064,8</td>
</tr>
<tr>
<td>5'h x 4'w</td>
<td>TPG54PPR</td>
<td>559,02</td>
<td class="td_space"> </td>
<td>5'h x 8'w</td>
<td>TPG54PPRD</td>
<td>1118,04</td>
</tr>
<tr>
<td class="gray">5'h x 5'w</td>
<td class="gray">TPG55PPR</td>
<td class="gray">612,26</td>
<td class="td_space"> </td>
<td class="gray">5'h x 10'w</td>
<td class="gray">TPG55PPRD</td>
<td class="gray">1224,52</td>
</tr>


<tr>
<td colspan="6" class="title page_level left title_padding"><b><u>Hoop and Picket Style Iron Fence</u></b></td>
<td colspan=1 rowspan=6><img class="image9" src="{{image9}}"></td>
</tr>
<tr>
<td class="td_space"> </td>
</tr>
<tr>
<td colspan="3" class="second_title">Traditional Grade Fence Panels</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>3'h x 8'w</td>
<td>TP0308HP</td>
<td>193,51</td>
</tr>
<tr>
<td class="gray">4'h x 8'w</td>
<td class="gray">TP0408HP</td>
<td class="gray">207,68</td>
</tr>
<tr>
<td class="td_space"> </td>
</tr>
<tr>
<td colspan="3" class="second_title">Traditional Grade Single Gates</td><td class="td_space"> </td><td colspan="3" class="second_title">Traditional Grade Double Gates</td>
</tr>
<tr>
<td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td><td class="td_space"> </td><td class="header">Size</td>
<td class="header">SKU</td>
<td class="header">Price</td>
</tr>
<tr>
<td>3'h x 4'w</td>
<td>TP0304HPG</td>
<td>320,86</td><td class="td_space"> </td><td>3'h x 8'w</td>
<td>TP0304HPGD</td>
<td>641,72</td>
</tr>
<tr>
<td class="gray">3'h x 5'w</td>
<td class="gray">TP0305HPG</td>
<td class="gray">330,97</td>
<td class="td_space"> </td>
<td class="gray">3'h x 10'w</td>
<td class="gray">TP0305HPGD</td>
<td class="gray">661,94</td>
</tr>
<tr>
<td>4'h x 4'w</td>
<td>TP0404HPG</td>
<td>330,97</td><td class="td_space"> </td><td>4'h x 8'w</td>
<td>TP0404HPGD</td>
<td>661,94</td>
</tr>
<tr>
<td class="gray">4'h x 5'w</td>
<td class="gray">TP0405HPG</td>
<td class="gray">361,32</td>
<td class="td_space"> </td>
<td class="gray">4'h x 10'w</td>
<td class="gray">TP0405HPGD</td>
<td class="gray">722,63</td>
</tr>
<tr>
<td colspan=3 class="tr_image10"><img class="image10 border" src="{{image10}}">
</td><td class="td_space"> </td>
<td  colspan=3 class="tr_image11"><img class="image11 border" src="{{image11}}"></td>
</tr>
</tbody>
</table>
<footer>
    Page 7
</footer>
</body>
</html>